<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
        
      <div class="footer-col">
        <a href="https://www.instagram.com/tejal.gup/">Instagram</a>
      </div>
      <div class="footer-col">
        <a href="https://www.linkedin.com/in/tejal-gupta/">LinkedIn</a>
      </div>
      <div class="footer-col">
        <a href="https://github.com/tejalgup/">Github</a>
      </div>
    </div>
  </div>
</footer>
